extends ../layout

block content
    h1.
        ProjectInfo #{project._id}
    p Name: #{project.name}
    p Description: #{project.description}
    p Price: #{project.description}
    p Done: #{project.done}
    p Start: #{project.start}
    p End: #{project.end}
    p Members: #{project.members}